/*! _base.scss */

:root {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100vh;
}

html {
  font-size: var(--font-size-base);  /*10px*/
}

body {
  background-color: var(--color-page-background);
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-normal);
  letter-spacing: var(--letter-spacing-normal);
  line-height: var(--line-height-base);
  position: relative;  // https://stackoverflow.com/questions/28536771/is-using-position-relative-on-html-tag-advised
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

::placeholder {
  color: var(--color-slate-400);
}

::selection {
  background-color: var(--color-azure-400);
  color: var(--color-black);
  text-shadow: none;
}
