/*! _colors.scss */

:root {
  --color-black: hsl(0, 0%, 0%);
  --color-white: hsl(0, 0%, 100%);

  --color-amber-50: hsl(48, 100%, 96%);
  --color-amber-100: hsl(48, 96%, 89%);
  --color-amber-200: hsl(48, 97%, 77%);
  --color-amber-300: hsl(46, 97%, 65%);
  --color-amber-400: hsl(43, 96%, 56%);
  --color-amber-500: hsl(38, 92%, 50%);
  --color-amber-600: hsl(32, 95%, 44%);
  --color-amber-700: hsl(26, 90%, 37%);
  --color-amber-800: hsl(23, 83%, 31%);
  --color-amber-900: hsl(22, 78%, 26%);

  --color-azure-50: hsl(203, 100%, 97%);
  --color-azure-100: hsl(204, 100%, 94%);
  --color-azure-200: hsl(200, 100%, 86%);
  --color-azure-300: hsl(198, 100%, 73%);
  --color-azure-400: hsl(198, 100%, 59%);
  --color-azure-500: hsl(199, 100%, 50%);
  --color-azure-600: hsl(202, 100%, 42%);
  --color-azure-700: hsl(202, 100%, 34%);
  --color-azure-800: hsl(202, 100%, 28%);
  --color-azure-900: hsl(202, 90%, 24%);
  
  --color-indigo-50: hsl(245, 100%, 97%);
  --color-indigo-100: hsl(240, 100%, 95%);
  --color-indigo-200: hsl(239, 100%, 92%);
  --color-indigo-300: hsl(242, 100%, 85%);
  --color-indigo-400: hsl(245, 100%, 76%);
  --color-indigo-500: hsl(247, 100%, 66%);
  --color-indigo-600: hsl(251, 93%, 58%);
  --color-indigo-700: hsl(253, 79%, 50%);
  --color-indigo-800: hsl(253, 78%, 42%);
  --color-indigo-900: hsl(253, 76%, 31%);

  --color-rose-50: hsl(331, 79%, 92%);
  --color-rose-100: hsl(331, 79%, 92%);
  --color-rose-200: hsl(330, 82%, 85%);
  --color-rose-300: hsl(331, 82%, 76%);
  --color-rose-400: hsl(330, 81%, 68%);
  --color-rose-500: hsl(330, 81%, 60%);
  --color-rose-600: hsl(330, 81%, 49%);
  --color-rose-700: hsl(330, 82%, 38%);
  --color-rose-800: hsl(331, 81%, 27%);
  --color-rose-900: hsl(331, 81%, 16%);

  --color-slate-50: hsl(210, 40%, 98%);
  --color-slate-100: hsl(210, 40%, 96%);
  --color-slate-200: hsl(214, 32%, 91%);
  --color-slate-300: hsl(213, 27%, 84%);
  --color-slate-400: hsl(215, 20%, 65%);
  --color-slate-500: hsl(215, 16%, 47%);
  --color-slate-600: hsl(215, 19%, 35%);
  --color-slate-700: hsl(215, 25%, 27%);
  --color-slate-800: hsl(217, 33%, 17%);
  --color-slate-900: hsl(222, 47%, 11%);
}
