/*! _common.scss */

:root {
  scroll-behavior: smooth;
}

::placeholder {
  color: var(--color-slate-600);
}

::selection {
  background-color: var(--color-azure-400);
  color: var(--color-slate-800);
  text-shadow: none;
}

html,
body {
  min-height: 100vh;
}

html {
  font-size: var(--font-size-base);  /*10px*/
}

body {
  background-color: var(--color-page-background);
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-normal);
  letter-spacing: var(--letter-spacing-normal);
  line-height: var(--line-height-base);
  position: relative;  // https://stackoverflow.com/questions/28536771/is-using-position-relative-on-html-tag-advised
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

a {
  cursor: pointer;
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing-wide);
  text-decoration: none;
}

.cta-button {
  align-items: center;
  background-color: var(--color-cta-button);
  border-radius: var(--border-radius-small);
  color: var(--color-slate-400);
  cursor: pointer;
  display: flex;
  gap: 2rem;
  height: 4.6rem;
  justify-content: center;
  margin-bottom: 3.5rem;
  transition: clip-path 275ms ease;
  width: var(--width-full);

  &:focus,
  &:hover {
    background-color: var(--color-cta-button-hover);
    box-shadow: var(--box-shadow-medium);
    color: var(--color-white);
    outline: none;

    span.cta-button-text::before,
    span.cta-button-text::before {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }

  &:hover .cta-button-icon {
    animation: pulse-icon-menu 2s linear 2;
    color: var(--color-white);
  }

  @media only screen and (max-width: 460px) {
    gap: 1rem;
  }
}

.cta-button-text {
  color: var(--color-slate-400);
  display: inline-block;
  font-size: var(--font-size-xsmall);
  font-weight: var(--font-weight-xbold);
  letter-spacing: var(--letter-spacing-xwide);
  text-decoration: none;

  &::before {
    content: attr(data-content);
    clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
    color: var(--color-menu-link-overlay);
    letter-spacing: var(--letter-spacing-xwide);
    position: absolute;
    text-decoration: underline;
    text-decoration-color: var(--color-menu-link-overlay);
    transition: clip-path 350ms ease;
  }

  @media only screen and (max-width: 460px) {
    font-size: var(--font-size-xxsmall);
    gap: .5rem;
  }
}

.external-link-icon {
  color: var(--color-link-external-icon);
  display: inline-block;
  margin-bottom: -.2rem;
}

.link {
  position: relative;
  transition: clip-path 275ms ease;

  &:hover span::before,
  &:focus span::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  span {
    color: var(--color-link-external-icon);
    display: inline-block;
    position: relative;

    &::before {
      content: attr(data-content);
      clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
      color: var(--color-link-overlay);
      letter-spacing: var(--letter-spacing-wide);
      position: absolute;
      text-decoration: underline;
      text-decoration-color: var(--color-link-overlay);
      transition: clip-path 350ms ease;
    }
  }
}

.main {
  background-color: var(--color-main-background);
  padding: 4rem 3.2rem 12rem;

  @media only screen and (max-width: 490px) {
    padding-bottom: 8rem;
  }
}

.main-text {
  color: var(--color-main-text);
  font-size: var(--font-size-medium);
  letter-spacing: var(--letter-spacing-normal);
  line-height: 3.4rem;
  margin: 0 2rem 0;

  &:first-of-type {
    margin-top: 5rem;
  }

  &:not(:first-of-type) {
    margin-top: 2rem;
  }

  &:last-of-type {
    margin-bottom: 2.5rem;
  }
}

.page-wrapper {
  background-color: var(--color-main-background);
  height: 100vh;
  margin: 0 auto;
  max-width: var(--max-width-site);
}

.subtitle {
  color: var(--color-subtitle);
  font-size: var(--font-size-medium);
  font-style: var(--font-style-italic);
  font-weight: var(--font-weight-semi-bold);
  letter-spacing: var(--letter-spacing-xxwide);
  margin: 2rem 0;
  text-align: center;
}
