/*! _common.scss */

:root {
  scroll-behavior: smooth;
}

::placeholder {
  color: var(--color-slate-400);
}

::selection {
  background-color: var(--color-azure-400);
  color: var(--color-slate-800);
  text-shadow: none;
}

html,
body {
  min-height: 100vh;
}

html {
  font-size: var(--font-size-base);  /*10px*/
}

body {
  background-color: var(--color-page-background);
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-normal);
  letter-spacing: var(--letter-spacing-normal);
  line-height: var(--line-height-base);
  position: relative;  // https://stackoverflow.com/questions/28536771/is-using-position-relative-on-html-tag-advised
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

a {
  cursor: pointer;
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing-wide);
  text-decoration: none;
}

.link {
  position: relative;
  transition: clip-path 275ms ease;

  &:hover span::before,
  &:focus span::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  span {
    color: var(--color-link);
    display: inline-block;
    position: relative;

    &::before {
      content: attr(data-content);
      clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
      color: var(--color-link-overlay);
      letter-spacing: var(--letter-spacing-wide);
      position: absolute;
      text-decoration: underline;
      text-decoration-color: var(--color-link-overlay);
      transition: clip-path 350ms ease;
    }
  }
}

.main {
  background-color: var(--color-main-background);
  padding: 4rem 3.2rem;

  @media (max-width: 490px) {
    padding-bottom: 8rem;
  }
}

.main-text {
  color: var(--color-main-text);
  font-size: var(--font-size-medium);
  letter-spacing: var(--letter-spacing-normal);
  line-height: 3.4rem;

  &:not(:first-of-type) {
    margin-top: 2.4rem;
  }

  &:last-of-type {
    margin-bottom: 4rem;
  }
}

.page-title {
  background-image: linear-gradient(to bottom, var(--color-white), var(--color-slate-300));
  border-radius: .6rem;
  box-shadow: var(--drop-shadow-light);
  color: var(--color-indigo-900);
  font-size: 3.2rem;
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing-xwide);
  margin-bottom: 3.2rem;
  padding: 2.4rem;
  text-align: center;
}

.page-wrapper {
  background-color: var(--color-main-background);
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width-site);
}
