/*! _hamburger.scss */

$hamburger-background-color: transparent;
$hamburger-border-radius: 4px;
$hamburger-height: 20px;
$hamburger-hover-line-color: var(--color-rose-600);
$hamburger-initial-opposition: 5px;
$hamburger-line-color: var(--color-header-hamburger-icon);
$hamburger-line-height: 2px;
$hamburger-padding: 15px;
$hamburger-transition-function: ease;
$hamburger-transition-opacity: 0;
$hamburger-transition-time: 0.4s;
$hamburger-vertical-gap: 7px;
$hamburger-width: 24px;
$hamburger-hide-distance: $hamburger-width + $hamburger-padding;

@mixin line-props {
  background-color: $hamburger-line-color;
  border-radius: $hamburger-border-radius;
  height: $hamburger-line-height;
  position: absolute;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: $hamburger-transition-time;
  width: 100%;
}

.hamburger {
  background-color: $hamburger-background-color;
  cursor: pointer;
  display: inline-block;
  margin-right: 2rem;
  overflow: hidden;
  padding: $hamburger-padding;

  @media (max-width: 640px) {
    margin-right: 1rem;
  }

  &-container {
    width: $hamburger-width;
    height: $hamburger-height;
    position: relative;
  }

  &:hover  &-inner {
    transform: translate(-#{$hamburger-hide-distance}, 50%);
    opacity: $hamburger-transition-opacity;
  }

  &:hover &-inner::before,
  &:hover &-inner::after {
    transform: translate(#{$hamburger-hide-distance * 2}, 0);
    opacity: $hamburger-transition-opacity;
  }

  &.is-active &-inner {
    display: none;
  }

  &-inner {
    @include line-props();
    top: 50%;
    transform: translate($hamburger-initial-opposition, -50%);
    opacity: 1;

    &::before,
    &::after {
      @include line-props();

      content: "";
      opacity: 1;
      transform: translate(-#{$hamburger-initial-opposition}, 0);
    }

    &::before {
      top: -#{$hamburger-vertical-gap};
    }

    &::after {
      top: $hamburger-vertical-gap;
    }
  }

  &:hover  &-hidden {
    opacity: 1;
    transform: translate(0, -50%);
  }

  &:hover &-hidden::before,
  &:hover &-hidden::after {
    opacity: 1;
    transform: translate(0, 0);
  }

  &.is-active &-hidden {
    opacity: 1;
    transform: rotate(45deg);
  }

  &.is-active &-hidden::before {
    transform: translate(0, #{$hamburger-vertical-gap}) rotate(90deg);
    transform-origin: center;
  }

  &.is-active &-hidden::after {
    transform-origin: center;
    transform: translate(0, -#{$hamburger-vertical-gap}) rotate(0);
  }

  &-hidden {
    opacity: 0;
    @include line-props();

    background-color: $hamburger-hover-line-color;
    top: 50%;
    transform: translate(#{$hamburger-hide-distance}, -50%);

    &::before,
    &::after {
      @include line-props();
      background-color: $hamburger-hover-line-color;

      content: "";
      transform: translate(#{$hamburger-hide-distance * 2}, 0);
    }

    &::before {
      top: -#{$hamburger-vertical-gap};
    }

    &::after {
      top: $hamburger-vertical-gap;
    }
  }
}
