/*! _hero.scss */

.hero-wrapper {
  align-items: center;
  background: transparent;
  display: flex;
  justify-content: center;
  margin-top: 6.4rem;
  max-width: var(--max-width-site);
  min-height: 50rem;
  overflow: hidden;
  position: relative;

  @media (max-width: 1060px) {
    min-height: 47.5rem;
  }

  @media (max-width: 960px) {
    min-height: 45rem;
  }

  @media (max-width: 860px) {
    min-height: 42.5rem;
  }

  @media (max-width: 800px) {
    min-height: 40rem;
  }

  @media (max-width: 740px) {
    min-height: 37.5rem;
  }

  @media (max-width: 670px) {
    min-height: 35rem;
  }

  @media (max-width: 620px) {
    min-height: 32.5rem;
  }

  @media (max-width: 560px) {
    min-height: 30rem;
  }

  @media (max-width: 490px) {
    min-height: 27.5rem;
  }

  @media (max-width: 440px) {
    min-height: 25rem;
  }
}

.hero-animated-background-image img {
  animation: hero-background-image 30s infinite;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.hero-content {
  padding: 0 3.2rem;
  width: 100%;
}

.hero-title {
  animation: hero-title-scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
  color: var(--color-slate-600);
  font-size: 7.2rem;
  font-weight: var(--font-weight-black);
  letter-spacing: var(--letter-spacing-xxwide);
  text-align: center;
  text-shadow: var(--text-shadow);
  transform: scale(0.85);

  @media (max-width: 1060px) {
    font-size: 6.6rem;
  }

  @media (max-width: 960px) {
    font-size: 6rem;
  }

  @media (max-width: 860px) {
    font-size: 5.5rem;
  }

  @media (max-width: 800px) {
    font-size: 5rem;
  }

  @media (max-width: 740px) {
    font-size: 4.5rem;
  }

  @media (max-width: 670px) {
    font-size: 4rem;
  }

  @media (max-width: 620px) {
    font-size: 3.5rem;
  }

  @media (max-width: 560px) {
    font-size: 3rem;
  }

  @media (max-width: 490px) {
    font-size: 2.5rem;
  }

  @media (max-width: 440px) {
    font-size: 2rem;
  }
}

.hero-title-overlay {
  animation: hero-title-scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
  color: var(--color-white);
  font-size: 7.2rem;
  font-weight: var(--font-weight-black);
  letter-spacing: var(--letter-spacing-xxwide);
  opacity: .85;
  margin-top: -7.6rem;
  text-align: center;
  text-shadow: none;
  transform: scale(0.85);

  span {
    display: inline-block;
    filter: blur(2px);
    opacity: 0;
  }

  @media (max-width: 1060px) {
    font-size: 6.6rem;
    margin-top: -7rem;
  }

  @media (max-width: 960px) {
    font-size: 6rem;
    margin-top: -6.5rem;
  }

  @media (max-width: 860px) {
    font-size: 5.5rem;
    margin-top: -6rem;
  }

  @media (max-width: 800px) {
    font-size: 5rem;
    margin-top: -5.5rem;
  }

  @media (max-width: 740px) {
    font-size: 4.5rem;
    margin-top: -5rem;
  }

  @media (max-width: 670px) {
    font-size: 4rem;
    margin-top: -4.5rem;
  }

  @media (max-width: 620px) {
    font-size: 3.5rem;
    margin-top: -4rem;
  }

  @media (max-width: 560px) {
    font-size: 3rem;
    margin-top: -3.5rem;
  }

  @media (max-width: 490px) {
    font-size: 2.5rem;
    margin-top: -3rem;
  }

  @media (max-width: 440px) {
    font-size: 2rem;
    margin-top: -2.5rem;
  }
}

.hero-title-wrapper {
  background-color: var(--color-black);
  backdrop-filter: var(--backdrop-blur);
  border: var(--border-rose);
  border-radius: var(--border-radius);
  box-shadow: var(--drop-shadow-dark);
  opacity: 0.7;
  padding: 4.8rem 3.2rem;
  width: 100%;
}
