/*! _themes.scss */

[color-scheme="dark"] {
  --background-image-about-section: none;
  --background-image-contact-form: none;
  --background-image-error-section: none;
  --background-image-header-logo: url('/images/Arndt-logo-white.svg');
  --background-image-home-skills-grid: none;
  --background-image-pledge-wrapper: none;
  --color-about-album-outline: var(--color-indigo-600);
  --color-about-section-music-caption: var(--color-slate-200);
  --color-about-section-video-caption: var(--color-slate-200);
  --color-contact-form-input-label: var(--color-slate-200);
  --color-cta-button: var(--color-indigo-600);
  --color-cta-button-hover: var(--color-indigo-800);
  --color-cta-button-text: var(--color-slate-400);
  --color-error-button: var(--color-indigo-600);
  --color-error-button-hover: var(--color-indigo-800);
  --color-error-button-text: var(--color-slate-400);
  --color-error-message: var(--color-indigo-600);
  --color-footer-text: var(--color-slate-200);
  --color-header-background: var(--color-indigo-900);
  --color-header-hamburger-icon: var(--color-azure-400);
  --color-header-link-icon: var(--color-azure-400);
  --color-header-link-icon-hover: var(--color-white);
  --color-header-theme-switch: var(--color-azure-400);
  --color-header-theme-switch-hover: var(--color-amber-400);
  --color-home-desktop-browser-text: var(--color-slate-200);
  --color-home-skills-grid-background: var(--color-slate-900);
  --color-home-skills-item-caption: var(--color-slate-200);
  --color-home-skills-text: var(--color-slate-200);
  --color-link: var(--color-azure-400);
  --color-link-external-icon: var(--color-azure-400);
  --color-link-overlay: var(--color-rose-600);
  --color-main-background: var(--color-slate-900);
  --color-main-text: var(--color-slate-200);
  --color-menu-background: var(--color-indigo-800);
  --color-menu-link-overlay: var(--color-white);
  --color-page-background: var(--color-slate-800);
  --color-pledge-text: var(--color-slate-200);
  --color-resume-employer: var(--color-indigo-500);
  --color-resume-progress-bar-background: var(--color-slate-400);
  --color-resume-progress-bar-fill: var(--color-azure-400);
  --color-resume-section-divider: var(--color-indigo-500);
  --color-section-text: var(--color-slate-200);
  --color-section-title: var(--color-indigo-500);
  --color-tech-stack: var(--color-indigo-600);
  --filter-header-link-icon-shadow: var(--filter-shadow-dark);
}

[color-scheme="light"] {
  --background-image-about-section: var(--background-image-gradient);
  --background-image-contact-form: var(--background-image-gradient);
  --background-image-error-section: var(--background-image-gradient);
  --background-image-header-logo: url('/images/Arndt-logo-indigo.svg');
  --background-image-home-skills-grid: var(--background-image-gradient);
  --background-image-pledge-wrapper: var(--background-image-gradient);
  --color-about-album-outline: var(--color-indigo-800);
  --color-about-section-music-caption: var(--color-indigo-800);
  --color-about-section-video-caption: var(--color-indigo-800);
  --color-contact-form-input-label: var(--color-indigo-600);
  --color-cta-button: var(--color-indigo-800);
  --color-cta-button-hover: var(--color-indigo-900);
  --color-cta-button-text: var(--color-slate-400);
  --color-error-button: var(--color-indigo-800);
  --color-error-button-hover: var(--color-indigo-900);
  --color-error-button-text: var(--color-slate-400);
  --color-error-message: var(--color-indigo-800);
  --color-footer-text: var(--color-slate-200);
  --color-header-background: var(--color-slate-200);
  --color-header-hamburger-icon: var(--color-azure-600);
  --color-header-link-icon: var(--color-azure-600);
  --color-header-link-icon-hover: var(--color-indigo-800);
  --color-header-theme-switch: var(--color-azure-600);
  --color-header-theme-switch-hover: var(--color-slate-900);
  --color-home-desktop-browser-text: var(--color-slate-900);
  --color-home-skills-grid-background: var(--color-slate-200);
  --color-home-skills-item-caption: var(--color-slate-900);
  --color-home-skills-text: var(--color-slate-200);
  --color-link: var(--color-indigo-800);
  --color-link-external-icon: var(--color-indigo-800);
  --color-link-overlay: var(--color-rose-600);
  --color-main-background: var(--color-slate-300);
  --color-main-text: var(--color-slate-800);
  --color-menu-background: var(--color-indigo-900);
  --color-menu-link-overlay: var(--color-white);
  --color-page-background: var(--color-slate-600);
  --color-pledge-text: var(--color-slate-900);
  --color-resume-employer: var(--color-indigo-800);
  --color-resume-progress-bar-background: var(--color-azure-400);
  --color-resume-progress-bar-fill: var(--color-indigo-600);
  --color-resume-section-divider: var(--color-indigo-800);
  --color-section-text: var(--color-slate-800);
  --color-section-title: var(--color-indigo-800);
  --color-tech-stack: var(--color-indigo-800);
  --filter-header-link-icon-shadow: var(--filter-shadow-light);
}
