/*! _themes.scss */

[color-scheme="dark"] {
  --color-footer-background: var(--color-indigo-900);
  --color-footer-text: var(--color-white);
  --color-header-background: var(--color-indigo-900);
  --color-header-menu-item: var(--color-white);
  --color-header-theme-switch: var(--color-amber-400);
  --color-link: var(--color-azure-400);
  --color-link-overlay: var(--color-rose-600);
  --color-main-background: var(--color-slate-900);
  --color-main-text: var(--color-slate-200);
  --color-menu-background: var(--color-indigo-800);
  --color-page-background: var(--color-slate-800);
  --color-resume-download-button: var(--color-azure-600);
  --color-resume-download-button-hover: var(--color-azure-700);
  --color-resume-download-button-text: var(--color-slate-800);
  --color-resume-download-button-text-hover: var(--color-slate-200);
  --color-resume-employer: var(--color-azure-400);
  --color-resume-progress-bar-background: var(--color-slate-200);
  --color-resume-progress-bar-fill: var(--color-azure-400);
  --color-resume-section-divider: var(--color-azure-500);
  --header-logo-background-image: url('/images/Arndt-logo-white.svg');
}

[color-scheme="light"] {
  --color-footer-background: var(--color-indigo-900);
  --color-footer-text: var(--color-white);
  --color-header-background: var(--color-slate-200);
  --color-header-menu-item: var(--color-indigo-900);
  --color-header-theme-switch: var(--color-slate-900);
  --color-link: var(--color-indigo-800);
  --color-link-overlay: var(--color-rose-600);
  --color-main-background: var(--color-blue-200);
  --color-main-text: var(--color-slate-900);
  --color-menu-background: var(--color-indigo-900);
  --color-page-background: var(--color-slate-600);
  --color-resume-download-button: var(--color-indigo-800);
  --color-resume-download-button-hover: var(--color-indigo-900);
  --color-resume-download-button-text: var(--color-slate-400);
  --color-resume-download-button-text-hover: var(--color-slate-200);
  --color-resume-employer: var(--color-indigo-800);
  --color-resume-progress-bar-background: var(--color-azure-400);
  --color-resume-progress-bar-fill: var(--color-indigo-600);
  --color-resume-section-divider: var(--color-indigo-800);
  --header-logo-background-image: url('/images/Arndt-logo-indigo.svg');
}
