/*! _themes.scss */

[color-scheme="dark"] {
  --color-main-background: var(--color-slate-800);
  --color-main-text: var(--color-slate-200);
  --color-footer-background: var(--color-indigo-900);
  --color-footer-text: var(--color-white);
  --color-header-background: var(--color-indigo-900);
  --color-header-menu-item: var(--color-white);
  --color-page-background: var(--color-slate-900);
  --color-resume-employer: var(--color-blue-500);
  --color-resume-section-divider: var(--color-blue-500);
  --header-logo-background-image: url('/images/Arndt-logo-white.svg');
}

[color-scheme="light"] {
  --color-main-background: var(--color-blue-200);
  --color-main-text: var(--color-slate-900);
  --color-footer-background: var(--color-indigo-900);
  --color-footer-text: var(--color-white);
  --color-header-background: hsla(0, 0%, 100%, 0.8);
  --color-header-menu-item: var(--color-indigo-900);
  --color-page-background: var(--color-white);
  --color-resume-employer: var(--color-blue-700);
  --color-resume-section-divider: var(--color-blue-700);
  --header-logo-background-image: url('/images/Arndt-logo-indigo.svg');
}
