/*! _variables.scss */

@import 'colors';

:root {
  --backdrop-blur: .4rem;

  --background-image-gradient: linear-gradient(to bottom right, var(--color-slate-300), var(--color-slate-400));

  --border-radius-large: 2.4rem;
  --border-radius-medium: 1.25rem;
  --border-radius-small: .75rem;
  --border-rose: 1px solid var(--color-rose-700);
  --border-indigo: 1px solid var(--color-indigo-500);

  --box-shadow-header: .25rem 0 1rem var(--color-black);
  --box-shadow-hero-title-wrapper: 1.25rem 1.25rem 1.5rem var(--color-black);
  --box-shadow-high: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  --box-shadow-low: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  --box-shadow-medium: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  --box-shadow-section-background: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  --box-shadow-soft: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;

  --filter-shadow-light: drop-shadow(.25rem .25rem .25rem hsla(0deg, 0%, 0%, 0.4));
  --filter-shadow-medium: drop-shadow(.4rem .4rem .4rem hsla(0deg, 0%, 0%, 0.4));
  --filter-shadow-dark: drop-shadow(.25rem .25rem .25rem hsla(0deg, 0%, 0%, 1));

  --font-family-sans: 'Proxima Nova', Arial, Helvetica, sans-serif;
  --font-family-serif: 'Caslon Pro', Merriweather, Georgia, 'Times New Roman', serif;

  --font-size-base: 62.5%;  // 10px
  --font-size-xxxsmall: 1rem;
  --font-size-xxsmall: 1.25rem;
  --font-size-xsmall: 1.4rem;
  --font-size-small: 1.5rem;
  --font-size-jumbo: 5rem;
  --font-size-medium: 1.6rem;
  --font-size-large: 1.75rem;
  --font-size-large2: 1.85rem;
  --font-size-xlarge: 2rem;
  --font-size-xxlarge: 2.5rem;
  --font-size-xxxlarge: 3.5rem;

  --font-style-italic: italic;
  --font-style-normal: normal;

  --font-weight-thin: 100;
  --font-weight-xlight: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-xbold: 800;
  --font-weight-black: 900;

  --letter-spacing-tight: -.005em;
  --letter-spacing-normal: normal;
  --letter-spacing-wide: 0.025em;
  --letter-spacing-xwide: 0.05em;
  --letter-spacing-xxwide: 0.1em;
  --letter-spacing-xxxwide: 0.15em;

  --line-height-base: 1.7;
  --line-height-default: 1;
  --line-height-short: 1.2;
  --line-height-tall: 2;
  --line-height-xtall: 2.5;
  --line-height-xxtall: 2.75;
  --line-height-menu-item: 3;

  --max-width-site: 128rem;

  --text-shadow: .25rem .25rem .5rem var(--color-black);

  --width-full: 100%;
}
