/*! _variables.scss */

@import 'colors';

:root {
  --backdrop-blur: .4rem;
  --border-radius-large: 2.4rem;
  --border-radius-small: .75rem;
  --border-rose: 1px solid var(--color-rose-700);
  --border-indigo: 1px solid var(--color-indigo-500);

  --drop-shadow-dark: 1.25rem 1.25rem 1.5rem var(--color-black);
  --drop-shadow-header: .25rem 0 1rem var(--color-black);
  --drop-shadow-light: .15rem .15rem .15rem var(--color-slate-600);
  --drop-shadow-medium: 0 1rem 2rem rgba(0, 0, 0, 0.5);

  --font-family-mono: 'DM Mono', sans-serif;
  --font-family-sans: 'Proxima Nova', Arial, Helvetica, sans-serif;

  --font-size-base: 62.5%;  // 10px
  --font-size-xxxsmall: 1rem;
  --font-size-xxsmall: 1.25rem;
  --font-size-xsmall: 1.4rem;
  --font-size-small: 1.5rem;
  --font-size-medium: 1.6rem;
  --font-size-large: 1.75rem;
  --font-size-xlarge: 2rem;

  --font-style-italic: italic;
  --font-style-normal: normal;

  --font-weight-thin: 100;
  --font-weight-xlight: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-xbold: 800;
  --font-weight-black: 900;

  --letter-spacing-tight: -.005em;
  --letter-spacing-normal: normal;
  --letter-spacing-wide: 0.025em;
  --letter-spacing-xwide: 0.05em;
  --letter-spacing-xxwide: 0.1em;
  --letter-spacing-xxxwide: 0.15em;

  --line-height-base: 1.7;
  --line-height-default: 1;
  --line-height-short: 1.2;
  --line-height-tall: 2;
  --line-height-menu-item: 3;

  --max-width-site: 128rem;

  --text-shadow: .25rem .25rem .5rem var(--color-black);

  --width-full: 100%;
}
