  /* caslon-pro-regular */
  @font-face {
    font-display: swap;
    font-family: 'Caslon Pro';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Caslon-Pro/caslon-pro-regular.woff') format('woff');
  }
