/* fira-mono-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Fira-Mono/fira-mono-regular.woff2') format('woff2'),
    url('/fonts/Fira-Mono/fira-mono-regular.woff') format('woff');
}

/* fira-mono-500 - latin */
@font-face {
  font-display: swap;
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/Fira-Mono/fira-mono-500.woff2') format('woff2'),
    url('/fonts/Fira-Mono/fira-mono-500.woff') format('woff');
}

/* fira-mono-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/Fira-Mono/fira-mono-700.woff2') format('woff2'),
    url('/fonts/Fira-Mono/fira-mono-700.woff') format('woff');
}
